<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="MiniMarket.Properties.Settings.MinimarketConnectionString" connectionString="Data Source=DESKTOP-ORR2HUS;Initial Catalog=Minimarket;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="supermarketEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ORR2HUS;initial catalog=supermarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="supermarketEntities1" connectionString="metadata=res://*/supermarketmodel.csdl|res://*/supermarketmodel.ssdl|res://*/supermarketmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ORR2HUS;initial catalog=supermarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MinimarketEntities" connectionString="metadata=res://*/supermarket.csdl|res://*/supermarket.ssdl|res://*/supermarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ORR2HUS;initial catalog=Minimarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MinimarketEntities1" connectionString="metadata=res://*/minimarket.csdl|res://*/minimarket.ssdl|res://*/minimarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ORR2HUS;initial catalog=Minimarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MinimarketEntities2" connectionString="metadata=res://*/minimarket.csdl|res://*/minimarket.ssdl|res://*/minimarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ORR2HUS;initial catalog=Minimarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MinimarketEntities3" connectionString="metadata=res://*/minimarket.csdl|res://*/minimarket.ssdl|res://*/minimarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ORR2HUS;initial catalog=Minimarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MinimarketEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ORR2HUS;initial catalog=Minimarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MinimarketEntities5" connectionString="metadata=res://*/minimarket.csdl|res://*/minimarket.ssdl|res://*/minimarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ORR2HUS;initial catalog=Minimarket;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>